@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', 'sans-serif';
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 12px;
  line-height: 15px;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.sticky-header.sticky {
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(30px);
}
.dots-container {
  position: relative;
}

.dots-container .slick-dots {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dots-container .slick-dots li {
  margin: 0 0px;
}

.dots-container .slick-dots li button {
  width: 8px;
  height: 8px;
  background-color: #888;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.dots-container .slick-dots li.slick-active button {
  background-color: #333;
}