.content {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
  }
  
  .content p {
    margin-top: 20px;
  }
  
  .content blockquote {
    margin-top: 20px;
    border-left: solid 1px #333;
    padding-left: 15px;
  }
  
  .content img {
    margin-top: 20px;
  }
  
  .content br {
    margin: 0;
  }
  
  .content h2 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.688rem;
  }
  .content h3 {
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }
  .content h4 {
    margin-top: 20px;
    font-size: 0.875rem;
    line-height: 1.063rem;
    font-weight: 300;
    color: #585858;
  }
  
  .content img {
    font-size: 12px;
    line-height: 15px;
    color: rgb(107, 114, 128);
  }
  
  .content a {
    color: rgb(50, 104, 145);
    transition: all 0.3s;
  }
  
  .content a:hover {
    color: gray;
  }
  